{{!-- <form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>
<div>
    <a href="/auth/google">Login With Google</a>
</div>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}} --}}

<div class="login form">
   <form action="/auth/login" method="POST">
   <div class="form-group  signup2">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" name="username" class="form-control" placeholder="Enter username" required>
   </div>
   <div class="form-group signup2">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="********" required>
   </div>
   <button type="submit" class="btn btn-primary" id="submit">Submit</button>
   </form>
   <a class="login-with-google-btn" href="/auth/google">Login with Google</a>



   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}
</div>