<div class="card" id="card2">
<h2 id="yprofile">Your Profile</h2>
<p class="username" id="profile">Username: <span class="user">{{user.username}}</span></p>
<p class="username">Email: <span class="user">{{user.email}}</span></p>
<p class="username">Rank: <span class="user" id="admin">{{user.isAdmin}}</span></p>
</div>