
<a href="/recipes/recipe-list">Back</a>
<form action="/comments/comment-edit/{{_id}}" method="POST">
    <textarea name="comment" rows="4" cols="50" >{{comment}}</textarea>
    <select class="custom-select" name="rate" value="{{rate}}">
    <option value="1">&#11088</option>
    <option value="2">&#11088&#11088</option>
    <option value="3">&#11088&#11088&#11088</option>
    <option value="4">&#11088&#11088&#11088&#11088</option>
    <option value="5">&#11088&#11088&#11088&#11088&#11088</option>
    </select>
    <p>by {{user.username}}</p>
    <button class="btn" type="submit">Submit</button>
</form>
