<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div class="quote">
    <p id="quote"><i>{{quote.quote}}</i></p>
    <p id="quote-author">Author: {{quote.author}}</p>
</div>


<a href="/recipes/recipe-list">Check out our recipes!</a>
