<a href="/recipes/recipe-list">Back</a>
<h1>New Recipe</h1>
<form action="/recipes/new-recipe" method="POST">
    <label> Title
      <input type="text" name="title" required>
    </label>
    <label> Level
      <select name="level">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </label>
    <label> Dish Type
      <select name="dishtype">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Snack">Snack</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
        <option value="Other">Other</option>
      </select>
    </label>
    <label> Duration
      <input type="text" name="duration" required>
    </label>
    <label> Image
      <input type="text" name="image" value="https://images.unsplash.com/photo-1543362906-acfc16c67564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1965&q=80">
    </label>
    <label>Ingredients:
      <textarea name="ingredients" rows="10" cols="50" placeholder="Separate each line with a semicolon (;)" required></textarea>
    </label>
    <label>Instructions:
      <textarea name="instructions"  rows="10" cols="50" placeholder="Separate each line with a semicolon (;)" required></textarea>
    </label>

    <button type="submit">Create</button>
</form>
