<a href="/recipes/recipe-list">Back</a>
<h1>New Recipe</h1>
<form action="/recipes/new-recipe" method="POST" enctype="multipart/form-data">
    <label> Title
      <input type="text" name="title" required>
    </label>
    <label> Level
      <select name="level">
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </label>
    <label> Dish Type
      <select name="dishtype">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Snack">Snack</option>
        <option value="Dinner">Dinner</option>
        <option value="Dessert">Dessert</option>
        <option value="Other">Other</option>
      </select>
    </label>
    <label> Duration
      <input type="number" name="duration" required>
    </label>
    <label> Image
      <input type="file" name="image"/>
      {{!-- <input type="text" name="image"> --}}
    </label>
    <label>Ingredients:
      <textarea name="ingredients" rows="10" cols="50" placeholder="Separate each line with a semicolon (;)" required></textarea>
    </label>
    <label>Instructions:
      <textarea name="instructions"  rows="10" cols="50" placeholder="Separate each line with a semicolon (;)" required></textarea>
    </label>

    <button type="submit">Create</button>
</form>
